@{
    ViewData["Title"] = "Home Page";
}


<head>
    <title>Chat</title>
    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signalr.min.js"></script>
</head>
<div style="height: 100%;
            width: 200px;
            position: fixed;
            top: 60px;
            right: 0;
            background-color: #f2f2f2;
            overflow-x: hidden;
            padding-top: 20px;">
    <h3 style="padding-left:20px ;">Online Users</h3>
    <ul id="onlineUsersList"> <!-- Online users will be dynamically added here --> </ul>
</div>


<div style="margin-left:25%">

    @* <h2>Chat</h2> *@

    <div>
        @* <label for="username">Username:</label> *@
        <input hidden type="text" id="username" value="@ViewBag.Username" />
        @* <input type="button" id="connectButton" value="Connect" /> *@
    </div>

    <div id="chatContainer">
        @* <div id="userList"></div> *@
        <div id="chatMessages"></div>
        <div  style="z-index: 10;  position: fixed; margin: 0;
  bottom: 20px;">
            <input hidden type="text" id="toUser" placeholder="Send to" />
            <input type="text" id="message" placeholder="Type your message" />
            <input type="button" id="sendButton" value="Send" />
        </div>
    </div>


</div>




<script>
    debugger;
    $(function () {
        var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();

    @* connection.on("onConnected", function (connectionId, username, userList) {
            $('#chatContainer').show();
            $('#username').val(username);
            $('#userList').html('');
            $.each(userList, function (i, user) {
            $('#userList').append('<div>' + user + '</div>');
            });
            }); *@

            connection.on("onNewUserConnected", function (connectionId, username) {
                $('#userList').append('<div>' + username + '</div>');
            });

        connection.on("receivePrivateMessage", function (fromUser, message) {
            $('#chatMessages').append('<div>' + fromUser + ': ' + message + '</div>');
        });

        connection.on("onUserDisconnected", function (connectionId, username) {
            $('#' + connectionId).remove();
            $('#userList').append('<div>' + username + ' disconnected</div>');
        });
        connection.on("UserConnected", (username) => { $("#onlineUsersList").append(`<li onclick="ChangeToUser(${username})" id="${username}" value="${username}">${username}</li>`); });
        connection.on("UserDisconnected", (username) => { $("#onlineUsersList li:contains('" + username + "')").remove(); });
        function getPaging(str) {
            $('#toUser').val(str);
        }
    @* $(document).on("load", function () {
            var username = $('#username').val();
            connection.invoke("Connect", username);
            }); *@
    @* $('#connectButton').click(function () {
            var username = $('#username').val();
            connection.invoke("Connect", username);
            }); *@

            $('#sendButton').click(function () {
                var toUser = $('#toUser').val();
                var message = $('#message').val();
                connection.invoke("SendMessage", toUser, message);
                $('#message').val('').focus();
            });

        connection.start().then(function () {
            var username = $('#username').val();
            connection.invoke("Connect", username);
        }).catch(function (err) {
            return console.error(err.toString());
        });
    });
</script>
